@import "./sidebar";


.private-routes-section {

  display: flex;

  .left-section {
    height: 100vh;
    width: 18%;
  }

  .rigth-section {
    width: 82%;
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1.75rem;

    .navbar {
      background: #FFFFFF;
      padding: 0.75rem 1.5rem;
      border-radius: 8px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 3rem;
      gap: 1rem;


      .user-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .user-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h3 {
          font-size: .9rem;
          font-weight: 800;
        }

        h5 {
          font-size: 0.65rem;
          font-weight: 700;
        }
      }
    }

    .main-section {
      margin: 1rem 0rem;
   
    }

    .footer {
      padding: 0.5rem;
      margin-top: auto;

      p {
        display: flex;
        justify-content: space-between;
      }
    }
  }

}